# ceng.az - static/PHP build
Options -Indexes
DirectoryIndex index.php index.html
AddDefaultCharset UTF-8

# Deny access to version-control metadata if present
RedirectMatch 404 /\.git


<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType text/css "access plus 1 month"
  ExpiresByType application/javascript "access plus 1 month"
  ExpiresByType image/webp "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType font/woff2 "access plus 1 year"
</IfModule>
